body {
    font-family: Arial, sans-serif;
    background-color: hsla(46, 53%, 60%, 0.308);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: rgb(242, 246, 247);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button.option {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.option:hover {
    background-color: #0056b3;
}

#input-container {
    margin-top: 20px;
}

#answer-input {
    padding: 10px;
    width: 80%;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}



