body {
    font-family: Arial, sans-serif;
    background-color: hsla(46, 53%, 60%, 0.308);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: rgb(242, 246, 247);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#current-question {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #333;
}


button.option {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background-color: #93834e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.option:hover {
    background-color: #5d5332;
}

#input-container {
    margin-top: 20px;
}

/* 次へボタンのスタイル */
#next-button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #93834e;  
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    display: none;  /* 最初は非表示 */
    transition: background-color 0.3s ease;
}

#next-button:hover {
    background-color: #5d5332;  /* ホバー時に暗くなる */
}

#next-button:focus {
    outline: none;  /* フォーカス時のアウトラインを削除 */
}

#answer-input {
    padding: 10px;
    width: 80%;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* 最後の結果画面 */
#final-result {
    text-align: center;
    font-size: 15px;
}

#final-result h3 {
    margin-top: 15px;
}

body {
    margin: 0;
    overflow: hidden;  /* 背景アニメーションがページ外に広がらないように */
    background-color: #d4a62f;  /* 背景色 */
    position: relative;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;  /* 背景に配置 */
}

.alphabet {
    position: absolute;
    color: rgba(17, 2, 2, 0.7);  /* 透明度のある白色 */
    font-size: 4rem;
    animation: floatAnimation 5s linear infinite;
}

@keyframes floatAnimation {
    from {
        transform: translateY(100vh);
        opacity: 0;
    }
    to {
        transform: translateY(-10vh);
        opacity: 1;
    }
}
